<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Account Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="update_form" (ngSubmit)="updatedetails(update_form.value)">
    <ion-item>
      <ion-label position="stacked" class="login-field">First Name</ion-label>
      <ion-input required type="text" formControlName="first_name" value="{{first_name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="login-field">Last Name</ion-label>
      <ion-input required type="text" formControlName="last_name" value="{{last_name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="login-field">Email</ion-label>
      <ion-input required type="email" formControlName="email" value="{{email}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="login-field">Password</ion-label>
      <ion-input required type="password" formControlName="password" value="{{password}}"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" color="dark" type="submit" class="login-btn ion-no-margin">Update</ion-button>
  </form>
</ion-content>
