<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="fullBRcard">
    <ion-card-content>
      <div class="brInner">Beauty Club FAQ</div>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding">
    <h4 class="faqheader">When will my Beauty Rands be loaded?</h4>
    <p class="faqcontent"><strong>A: </strong>Your Beauty Rands are loaded once a month, after each successful debit order is reflecting in the Isabella Garcia account. This should happen within 2-7 days of your bank notification that payment has been made. You will receive an SMS each month to let you know that your Beauty Rands have been loaded.</p>
    <h4 class="faqheader">How are my Beauty Rands allocated to my purchases?</h4>
    <p class="faqcontent"><strong>A: </strong>Any Beauty Rands you have available will be allocated first and used towards the purchase of your qualifying products. Once your Beauty Rand balance reaches 0, your VIP discount will apply to the over and above amount.</p>
    <h4 class="faqheader">How can I check my Beauty Rands balance?</h4>
    <p class="faqcontent"><strong>A: </strong>Your Beauty Rands balance will show underneath the menu bar:</p>
    <h4 class="faqheader">How can I check my Beauty Rands balance?</h4>
    <p class="faqcontent"><strong>A: </strong>You can also view your available Beauty Rands by clicking “Beauty Bank” under the “My Account” dashboard.</p>
    <h4 class="faqheader">How do I know which products I can redeem using my Beauty Rands?</h4>
    <div class="faqcontent">
      <p><strong>A: </strong>Your Beauty Rands can be spent on products marked with a “BR” icon relating to your qualifying products.</p>
      <p>This means that any available Beauty Rands will be allocated first and used to purchase any of these products qualifying products added to your cart. Any cash amounts spent on this product will be charged at your VIP discount rate.</p>
    </div>
    <h4 class="faqheader">Where can I view my past orders?</h4>
    <p class="faqcontent"><strong>A: </strong>You can view your past orders under “My Account”</p>
    <h4 class="faqheader">How do I pay over and above my Beauty Rands?</h4>
    <p class="faqcontent"><strong>A: </strong>Once you have completed your transaction, you will be rerouted to “PayGate”, whereby you will be taken through the secure payment method to complete payment. This can be done via Debit Card, Credit Card or EFT.</p>
    <h4 class="faqheader">Who can I contact if I have questions? </h4>
    <p class="faqcontent"><strong>A: </strong>You can email your VIP Beauty Club Advisor at vipbeautyclub@isabella-garcia.com, or contact the VIP Beauty Club Team on 010 140 7141.</p>
    <h4 class="faqheader">Do I have to use all of my available Beauty Rands in one purchase or will I be able to use a portion without losing the rest?</h4>
    <p class="faqcontent"><strong>A: </strong>Any leftover Beauty Rands will be kept in your Beauty Bank ready to be used with your next order.</p>
    <h4 class="faqheader">When will I receive my products? </h4>
    <p class="faqcontent"><strong>A: </strong>You will receive your products within 5 days of completing your order</p>
    <h4 class="faqheader">I made a mistake with my order, can I exchange it for the correct products? </h4>
    <p class="faqcontent"><strong>A: </strong>Should you like to do an order change, please send your request to vipbeautyclub@isabella-garcia.com</p>
    <h4 class="faqheader">Do my Beauty Rands expire? </h4>
    <p class="faqcontent"><strong>A: </strong>Yes. As long as you remain a Beauty Club VIP, your Beauty Rands will be valid for a 12 month rolling period. Thus, should you receive Beauty Rands on the 25th of August 2018, they will expire on the 25th of August 2019. Beauty Rands are used on a “First In, First Out” basis.</p>
    <h4 class="faqheader">Can I still purchase products that do not have the Beauty Rands logo on them? </h4>
    <p class="faqcontent"><strong>A: </strong>Yes. You may purchase any products on the website, however you will not be able to redeem Beauty Rands, nor will any VIP discount apply to the non-qualifying products.</p>
    <h4 class="faqheader">Where can I view my VIP Beauty Club Terms and Conditions? </h4>
    <p class="faqcontent"><strong>A: </strong>You can view the VIP Beauty Club Terms and Conditions here: https://isabellagarcia.co.za/terms-conditions/#beauty-club</p>
    <h4 class="faqheader">How do I get more Beauty Rands or add more qualifying products to my selection? </h4>
    <p class="faqcontent"><strong>A: </strong>You can email your VIP Beauty Club Advisor at vipbeautyclub@isabella-garcia.com, or contact the VIP Beauty Club Team on 010 140 7141 and they will assist you.</p>
  </div>
  <ion-card id="fullBRcard">
    <ion-card-content>
      <div class="brInner">GENERAL/ TECHNICAL FAQ</div>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding">
    <h4 class="faqheader">How do I change my password on the website?</h4>
    <p class="faqcontent"><strong>A:</strong> At the top right corner of the website, there is an “Account” button. Hover your mouse over that button, and click on account details. You will be able to change your password on that page.</p>
    <h4 class="faqheader">Do I need to register on the website? </h4>
    <p class="faqcontent"><strong>A:</strong> No, in order to purchase products through the website, you do not need to be registered. If you are registered, however, you receive exclusive access to product launches, specials and much more.</p>
    <h4 class="faqheader">Where do I put in my voucher code? </h4>
    <p class="faqcontent"><strong>A:</strong> When you have added all of your items to your cart, proceed to view cart. Here you will be able to click on your available coupons (if you are a registered member), or enter your voucher code in the block provided. Remember to click “Apply Voucher” once you have entered your code.</p>
    <h4 class="faqheader">Do you have agents who sell your products? </h4>
    <p class="faqcontent"><strong>A:</strong> We are currently working on introducing Beauty Agents. We will keep you posted.</p>
  </div>  
</ion-content>
