ion-title {
    text-align: center;
}
.title-large {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.title-large::before {
    display: none !important;
}
ion-toolbar.main-toolbar {
    --color: #ffffff;
    --background: #000000;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --min-height: 55px;
}
.toolbar-btn {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 20%;
    z-index: 1;
    margin: 0px;
}
.buttons-first-slot {
    width: 20%;
    margin: 0px;
}
ion-menu-button {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 100%;
    z-index: 1;
    margin: 0px;
}
ion-toolbar.secondary-toolbar {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}
.secondary-toolbar ion-grid {
    --ion-grid-padding: 0px;
}
ion-searchbar {
    --background: #ffffff;
    --color: #292929;
    padding: 5px;
    height: 44px;
}
/*.secondary-toolbar ion-col {
    padding: 0px;
}*/
.searchbar-input.sc-ion-searchbar-md {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-padding-start: 55px;
    padding-inline-start: 55px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}
.search-col {
    background-color: #cccccc;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0px;
    padding-left: 0px;
}
#fullBRcard {
    --background: linear-gradient(135deg, #c0967B, #ece0d6 22%, #b3856a 41%, #c0967B 63%, #ece0d6 86%);
    --color: #454545;
    text-align: center;
    text-shadow: -1px 1px 2px rgba(255,255,255,0.9);
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.brGrid .tblHeader ion-col {
    font-size: 14px;
    font-weight: 700;
    background-color: #e3d9d3;
}
.brGrid .tblHeader {
    border-bottom: 1px solid #e0dede;
}
.brGrid .tblBody ion-col {
    font-size: 12px;
    border-bottom: 1px solid #e0dede;
    padding-top: 10px;
    padding-bottom: 10px;
}