ion-title {
    text-align: center;
}

ion-toolbar.main-toolbar {
    --color: #ffffff;
    --background: #000000;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --min-height: 55px;
}
.toolbar-btn {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 20%;
    z-index: 1;
    margin: 0px;
}
.buttons-first-slot {
    width: 20%;
    margin: 0px;
}
ion-menu-button {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 100%;
    z-index: 1;
    margin: 0px;
}
ion-toolbar.secondary-toolbar {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}
.secondary-toolbar ion-grid {
    --ion-grid-padding: 0px;
}
ion-searchbar {
    --background: #ffffff;
    --color: #292929;
    padding: 5px;
    height: 44px;
}
.sProdImg {
    border: 1px solid #939393;
}
.sProdTitle {
    color: #707070;
    font-size: 22px;
    margin-top: 15px;
    line-height: 26px;
}
.sProdDesc-Title {
    color: #040707;
    font-size: 13px;
    font-weight: 800;
    margin: 8px 0px;
    padding: 8px 0px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.sProdDesc {
    font-size: 14px;
    color: #707070;
}
.sProdPrice {
    color: #040707;
    font-size: 20px;
    font-weight: 800;
}