<ion-header>
    <ion-toolbar class="main-toolbar">
  
      <!--<ion-button slot="start" expand="block" onclick="openMenu()" class="toolbar-btn tb-btn1">
        <img class="icon-menu" src="/assets/icon/menu.svg" alt="" />
      </ion-button>-->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-title><span class="title-large">REDEEM BR</span><span class="title-small">MY BEATY CLUB PRODUCTS</span></ion-title>
  
      <ion-button slot="end" class="toolbar-btn tb-btn2">
        <img class="icon-cart" src="/assets/icon/cart.svg" alt="" />
      </ion-button>
  
    </ion-toolbar>
    <ion-toolbar class="secondary-toolbar">
      <ion-grid>
        <ion-row>
          <ion-col class="search-col">
            <ion-searchbar></ion-searchbar>
          </ion-col>
          <ion-col class="br-col">
            <p><span class="br-currency">BR</span><span class="br-amount">500.00</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <div class="sProdWrap">
        <div class="sProdImg"><img [src]="productsService.productDetails.images[0].src" /></div>
        <div class="sProdTitle">{{productsService.productDetails.name}}</div>
        <div class="sProdDesc">
          <div class="sProdDesc-Title">
            <span>PRODUCT DETAILS</span>
          </div>
          <div [innerHtml]="productsService.productDetails.description"></div>
        </div>
        <div class="sProdPrice">{{productsService.productDetails.price | currency : "R"}}</div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="inputQty">
              <ion-input type="number" value="1"></ion-input>
            </ion-col>
            <ion-col size="6" class="addCart">
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
  