<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>TERMS & CONDITIONS</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>COMPANY INFORMATION</h3>
    <hr>
    <p>This APP is run by Isabella Garcia International (Pty) Ltd (Isabella Garcia), a private company registered in South Africa with registration number 2008/002757/07.</p>
    <p>These terms and conditions regulate the use of the Isabella Garcia APP and the purchase of Isabella Garcia products. By using our APP and ordering our products, you agree to these terms and conditions. Please read them carefully.</p>
    <h3>OUR PRODUCTS AND SERVICES</h3>
    <hr>
    <p>Isabella Garcia specialises in the marketing of skincare and beauty products for men and women of all ages.</p>
    <p>Our products and samples are provided to you for personal use only. You are not allowed to sell or resell any of the products or samples which you receive from us. If we reasonably believe that you may violate this term, in addition to any other legal remedy, we may cancel your transaction or reduce the quantity of any products or services available for you to purchase.</p>
    <p>The use or selling of Isabella Garcia is not permitted in any beauty salons, health spa’s or any other related industry including retail outlets.</p>
    <p>The use of any of our products or information is not intended to supplement any other products, medicine or act as a diagnosis or cure for specific illnesses or conditions.</p>
    <p>Isabella Garcia makes no medical claims as to the benefits of the product to improve the dermatological or general health of individuals and does not endorse the use of any of our products in general, for medical use. It is recommended that you consult your medical practitioner before purchasing and using any Isabella products.</p>
    <p>You are responsible for using the products as instructed and Isabella Garcia will not be responsible to you or any third party for any claim, damage, injury or loss that may result from the failure to use the product as instructed.</p>
    <p>Please also refer to our product disclaimer.</p>
    <h3>AVAILABILITY AND DELIVERY</h3>
    <hr>
    <p>All orders and delivery depend on product availability and we will take all reasonable measures to notify you if any products are not available. If specific products are no longer available, we will offer you equivalent products at the same price or a full refund of the purchase price if you have already paid. Products will be delivered to you by courier. Should there be any delay in the delivery of your order, we will notify you as soon as is reasonably possible. Please ensure that the address and contact number you provide to us are accurate to avoid any unnecessary delays.</p>
    <p>It is your responsibility to ensure that the products received correspond to the invoice received.</p>
    <p>If it is found that there are any discrepancies, it is your responsibility to notify Isabella Garcia within 30 days of receipt of products.</p>
    <h3>RETURNS AND CANCELLATION – SKINCARE</h3>
    <hr>
    <p>We are sure that you will love our products but if you do want to return them because you are not satisfied for any reason please contact us on 0861 427 242 or e-mail us at info@isabella-garcia.com for assistance.</p>
    <p>We will process any return request in accordance with our returns policy below: You may return the products for a full refund within 60 days from the date of delivery, whether used or unused. We will arrange for the products to be collected from you and you will be refunded within 15 business days of the collection and cleared by the IG Quality Team.</p>
    <p>We will arrange a collection of the package with couriers and inform you via SMS of when the package will be collected, however, please note it is your responsibility to ensure that the package is given through to the couriers on the set collection date. If we do not receive the package, please note that you will be liable for payment of the package.</p>
    <p>If you return products more than 60 days after the date of delivery, unless the products are found to be defective, the following conditions will apply:</p>
    <ul>
      <li>You will not be refunded any money already paid to us</li>
      <li>You will have to pay for products which have already been used.</li>
      <li>A product is considered used if it is not in its original packaging.</li>
      <li>If the value of the products you have used, exceed the amount which you have already paid, you will have to pay the difference to us.</li>
      <li>If you have not used any of the products, you will keep products to the value of the amount you have already paid to us.</li>
      <li>For the purposes of this section, all costs related to the products will be calculated based on the none-hamper prices per unit.</li>
      <li>The products will be collected and inspected by representatives of Isabella Garcia.</li>
    </ul>
    <p>In the event that any of our products are found to be defective, please notify us as soon as you become aware of the defect. We will arrange for the products to be collected and you will not be responsible for any costs involved in respect of such return.  We reserve the right to inspect the products in order to determine whether it is defective. If it is found that the product is defective within six months of the delivery date, you may choose to receive a refund of the purchase price or a replacement product which will be paid or delivered to you 15 business days after the products have been inspected by Isabella Garcia’s representatives.</p>
    <p>Any products returned more than six months from the date of delivery because of defects, may be subject to any reasonable conditions determined by Isabella Garcia depending on the circumstances.</p>
    <p>In the event that you want to exchange unused products in your current order that have already been delivered, additional courier charges will be incurred. No changes to previous orders will be permitted.</p>
    <p>If you are an Ambassador you may cancel any future orders according to your agreement with us at any time without penalty so long as all amounts for your current hamper or order that you owe us are paid up.</p>
    <p>Please contact us on info@isabella-garcia.com or 010 140 7141 to let us know if you wish to cancel.</p>
    <h3>RETURNS AND CANCELLATION – MAKE-UP</h3>
    <hr>
    <p>You may return the products for a full refund within 60 days from the date of delivery, whether used or unused. We will arrange for the products to be collected from you and you will be refunded within 15 business days of the collection.</p>
    <p>Unless the products are found to be defective, no returns or cancellations will be accepted more than 60 days from the date of delivery. You will be liable for the full payment of the purchase price unless you have cancelled and returned the products within 60 days from date of delivery.</p>
    <h3>RETURNS AND CANCELLATION – SILK PILLOWCASES</h3>
    <hr>
    <p>Unless the products are found to be defective, no returns or cancellations, after delivery, will be accepted on Silk Pillowcases.</p>
    <h3>RETURNS AND CANCELLATION – <strong>PRODUCTS PURCHASED ON DISCOUNTED OFFER</strong></h3>
    <hr>
    <p>You will not be able to return any products purchased on a discounted offer after 7 days from date of delivery.</p>
    <p>You will not be refunded any money already paid to us for any products purchased on a discounted offer after 7 days from date of delivery.</p>
    <h3>PRICING AND PAYMENT</h3>
    <hr>
    <p>The price of our products will be as quoted to you telephonically or any other material provided to you for the purposes of purchasing our products, except in cases of obvious error. Prices include VAT and delivery costs and all payments are to be made in South African Rand.</p>
    <p>Isabella Garcia may increase prices from time to time without prior notice. Ownership of the products will only pass to you once you have paid the full purchase price of the products.</p>
    <p>Should we fail to collect in any month, we reserve the right at our discretion to either double collect in the following month or to extend the term over which payments are deducted by one month for each collection that fails.</p>
    <p><strong>Payment Options Accepted</strong></p>
    <p>Payment may be made via debit order, Visa, MasterCard, Diners or American Express credit cards or by bank transfer into the Isabella Garcia bank account, the details of which will be provided on request.</p>
    <p><strong>Credit Card Details and Security</strong></p>
    <p>Credit card transactions will be acquired for Isabella Garcia via PayGate (Pty) Ltd who are the approved payment gateway for Standard Bank of South Africa. PayGate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may go to www.paygate.co.za to view their security certificate and security policy.</p>
    <p><strong>Merchant Outlet Country and Transaction Currency</strong></p>
    <p>The merchant outlet country at the time of presenting payment options to the cardholder is South Africa. Transaction Currency is South African Rand (ZAR).</p>
    <p><strong>Customer details separate from card details</strong></p>
    <p>Customer details will be stored by Isabella Garcia separately from card details which are entered by the client on PayGate’s secure site.</p>
    <h3>CUSTOMER PRIVACY POLICY</h3>
    <hr>
    <p>Isabella Garcia will take all reasonable steps to protect the personal information of users in compliance with all applicable laws. Read more here.</p>
    <h3>LIMITATION OF LIABILITY</h3>
    <hr>
    <p>Subject to the provisions of the Consumer Protection Act, 68 of 2008, our liability to you in connection with any product purchased is strictly limited to the purchase price of that product. Isabella Garcia will not be responsible for any loss of income or revenue, loss of business, loss of profits or for any indirect or consequential loss or damage related to purchase or use of the products or our services even if it is caused by our negligence.</p>
    <p>It is your responsibility to contact Isabella Garcia if there are any discrepancies and changes to the order and account.</p>
    <h3>APPLICABLE LAW</h3>
    <hr>
    <p>The use of this website and all transactions with Isabella Garcia are governed by the laws of South Africa.</p>
    <h3>NOTICES</h3>
    <hr>
    <p>Isabella Garcia chooses the following address as its address for the serving of all court processes, notices, or other documents or communication:</p>
    <p>29 Westbrooke Drive, Strathavon, Sandton, 2196, SA</p>
    <h3>VARIATION</h3>
    <hr>
    <p>Isabella Garcia may change these terms and conditions at any time without notice.</p>
    <h3>ISABELLA GARCIA CONTACT DETAILS</h3>
    <hr>
    <p>For any queries, complaints or other information regarding our products, please contact:</p>
    <p><strong>E-mail:</strong> <a href="mailto:vipbeautyclub@isabella-garcia.com?subject=Contact%20from%20website">vipbeautyclub@isabella-garcia.com</a></p>
    <p><strong>Client Care Nr.:</strong> <a href="tel:+27101407141">010 140 7141</a></p>
    <p><strong>CEO:</strong> SA du Plessis & <strong>Operational Director:</strong> L Joubert</p>
    <h3>GIFT VOUCHER/CARD TERMS & CONDITIONS</h3>
    <hr>
    <ol>
      <li>Your gift voucher/ card allows you to purchase products on the Isabella Garcia Website: www.isabellagarcia.co.za.</li>
      <li>All sale items are excluded for purchase using your gift card/ voucher. These include, but are not limited to, the monthly specials available on the website.</li>
      <li>Delivery is not automatically included in your gift card/ voucher, unless otherwise stated on your gift card/ voucher.</li>
      <li>Your gift card/ voucher is valid until the expiry date specified on your gift card/ voucher</li>
      <li>If you have been registered on the Isabella Garcia website, your gift card/ voucher will have been loaded onto your profile. Simply add the coupon to your purchase at checkout. You may use your coupon on more than one purchase, until the coupon amount is depleted.</li>
      <li>If you have not been registered on the Isabella Garcia website, simply add your voucher code at checkout. These vouchers may only be used on one purchase, any remaining amounts will be lost.</li>
      <li>If you have not been registered on the Isabella Garcia website, simply add your voucher code at checkout.</li>
      <li>Any voucher received Is non-transferrable and may not be exchanged for cash. The voucher may also not be used to pay off any outstanding accounts.</li>
      <li>Website gifting (free delivery, fragrances and fashion items) do not apply to amounts spent using Gift Cards or Vouchers. Website gifting only applies to amounts spent over and above gift vouchers or gift cards.</li>
      <li>The use of vouchers which are not allocated to your name is strictly prohibited.</li>
      <li>If we believe that a breach of these Terms and Conditions has occurred, we may, at our discretion, take any action we consider appropriate, including immediate temporary or permanent withdrawal of your right to use the Website, suspension or cancellation of your order, immediate removal of any contribution, issue of a warning to you and or legal proceedings.</li>
    </ol>
    <h3>VIP BEAUTY CLUB TERMS AND CONDITIONS:</h3>
    <hr>
    <ol>
      <li>As a Beauty Club VIP, you will pay a monthly Beauty Club fee in order to qualify for VIP benefits and to accumulate Beauty Rands (BR).</li>
      <li>Beauty Rands is a “virtual” currency that can be used on the Isabella Garcia International website to pay for products.</li>
      <li>1 Beauty Rand = 1 Rand.</li>
      <li>Beauty Rands are accumulated on a monthly basis upon successful collection of the monthly Beauty Club fee and will automatically be loaded onto the VIP Beauty Club VIP’s profile on the website.</li>
      <li>Beauty Rands are accumulated at a rate of 1:1.5 (one to one point five) based on the monthly Beauty Club fee.</li>
      <li>
        The Benefits associated with being a Beauty Club VIP include:
        <ul>
          <li>% discount on website prices.</li>
          <li>1 x Free delivery coupon per month.</li>
          <li>Product-specific discounts.</li>
        </ul>
      </li>
      <li>
          In order to redeem accumulated Beauty Rands, Beauty Club VIPs can log onto the website using either:
          <ul>
            <li>their unique link supplied to them, monthly, via SMS and e-mail which automatically logs them in.</li>
            <li>their unique membership number as their username and password.</li>
          </ul>
      </li>
      <li>Beauty Rands will be valid for a period of 12 (twelve) months from when they were accumulated.</li>
      <li>Beauty Rands are used automatically for qualifying products added to a cart.</li>
      <li>Beauty Rands are not transferrable for cash or towards payment for any outstanding amounts owed.</li>
      <li>Exchanges will only be allowed on redeemed products that are in their original packaging, within 7 (seven) days of delivery. Delivery and collection charges will apply to exchanges.</li>
      <li>
          Non-payment of Beauty Club fees:
          <ul>
            <li>Should Isabella Garcia fail to collect in any month, we reserve the right at our discretion to double collect in the following month.</li>
            <li>In the case of an unsuccessful Beauty Club fee collection, the member will not receive or accumulate Beauty Rands for the period over which the collection was unsuccessful.</li>
            <li>Free delivery will be forfeited during non-payment periods.</li>
          </ul>
      </li>
      <li>
          Cancellations procedure
          <ul>
            <li>
                Beauty Club VIPs may cancel by submitting a cancellation request via one of the following channels:
                <ul>
                  <li>E-mailing vipbeautyclub@isabella-garcia.com,</li>
                  <li>Calling 010 140 7141, or</li>
                  <li>WhatsApp 067 366 2565.</li>
                </ul>
            </li>
            <li>No penalties will apply during 30 (thirty) days from the first debit day.</li>
            <li>After 30 (thirty) days, a 1 (one) month notice period will apply.</li>
            <li>Upon cancellation, Beauty Rands will be available to redeem for a period of 3 (three) months from the last successful collection. After this period, any accumulated Beauty Rands will be forfeited.</li>
          </ul>
      </li>
      <li>Isabella Garcia International reserves the right to alter the prices of products and Beauty Club fees on an ongoing basis.</li>
      <li>A 6% annual VIP Beauty Club instalment increase will apply on the VIP’s anniversary. This increase applies to the monthly fee as well as the Beauty Rands earned.</li>
      <li>If Isabella Garcia International believes that a breach of these Terms and Conditions has occurred, the Company may, at its discretion, take any action considered appropriate, including immediate, temporary or permanent withdrawal of members’ right to use the website, suspension or cancellation of membership, immediate removal of any contribution, issue of a warning and/or legal proceedings.</li>
    </ol>
  </div>
</ion-content>
