ion-title {
    text-align: center;
}

ion-toolbar.main-toolbar {
    --color: #ffffff;
    --background: #000000;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --min-height: 55px;
}
.toolbar-btn {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 20%;
    z-index: 1;
    margin: 0px;
}
.buttons-first-slot {
    width: 20%;
    margin: 0px;
}
ion-menu-button {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 100%;
    z-index: 1;
    margin: 0px;
}
ion-toolbar.secondary-toolbar {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}
.secondary-toolbar ion-grid {
    --ion-grid-padding: 0px;
}
ion-searchbar {
    --background: #ffffff;
    --color: #292929;
    padding: 5px;
    height: 44px;
}

#fullBRcard {
    --background: linear-gradient(135deg, #c0967B, #ece0d6 22%, #b3856a 41%, #c0967B 63%, #ece0d6 86%);
    --color: #454545;
    text-align: center;
    text-shadow: -1px 1px 2px rgba(255,255,255,0.9);
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.faqheader {
    font-size: 15px;
    font-weight: 700;
    background-color: #e3d9d3;
    border-bottom: 1px solid #e0dede;
    padding: 5px;
}
.faqcontent{
    font-size: 13px;
    border-bottom: 1px solid #e0dede;
    padding-top: 10px;
    padding-bottom: 10px;
}