<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>T's & C's</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>TERMS & CONDITIONS</h3>
    <p>1.<br>As a Beauty Club VIP, you will pay a monthly Beauty Club fee in order to qualify for VIP benefits and to accumulate Beauty Rands (BR).</p>
    <p>2.<br>Beauty Rands is a “virtual” currency that can be used on the Isabella Garcia International website to pay for products.</p>
    <p>3.<br>1 Beauty Rand = 1 Rand.</p>
    <p>4.<br>Beauty Rands are accumulated on a monthly basis upon successful collection of the monthly Beauty Club fee and will automatically be loaded onto the VIP Beauty Club VIP’s profile on the website.</p>
    <p>5.<br>Beauty Rands are accumulated at a rate of 1:1.5 (one to one point five) based on the monthly Beauty Club fee.</p>
    <p>6.<br>The Benefits associated with being a Beauty Club VIP include:</p>
    <ol type="a">
      <li>1 x Free delivery coupon per month.</li>
      <li>Product-specific discounts.</li>
    </ol>
    <p>7.<br>In order to redeem accumulated Beauty Rands, Beauty Club VIPs can to log onto the website using either:</p>
    <ol type="a">
      <li>their unique link supplied to them, monthly, via SMS and e-mail which automatically logs them in.</li>
      <li>their unique membership number as their username and password.</li>
    </ol>
    <p>8.<br>Beauty Rands will be valid for a period of 12 (twelve) months from when they were accumulated.</p>
    <p>9.<br>Beauty Rands are used automatically for qualifying products added to a cart.</p>
    <p>10.<br>Beauty Rands are not transferrable for cash or towards payment for any outstanding amounts owed.</p>
    <p>11.<br>Exchanges will only be allowed on redeemed products that are in their original packaging, within 7 (seven) days of delivery. Delivery and collection charges will apply to exchanges.</p>
    <p>12.<br>Non-payment of Beauty Club fees:</p>
    <ol type="a">
      <li>Should Isabella Garcia fail to collect in any month, we reserve the right at our discretion to double collect in the following month.</li>
      <li>In the case of an unsuccessful Beauty Club fee collection, the member will not receive or accumulate Beauty Rands for the period over which the collection was unsuccessful.</li>
      <li>Free delivery will be forfeited during nonpayment periods.</li>
    </ol>
  </div>
</ion-content>
