<ion-header>
  
</ion-header>

<ion-content>
  <div class="login-top">
    <div class="login-logo"><img src="/assets/login-top.jpg" alt="Isabella Garcia"></div>
  </div>
  <div class="login-bot">
    <div class="logBot-inner">
    <!--<form>-->
      <ion-item>
        <ion-label position="stacked" class="login-field">Email</ion-label>
        <ion-input required type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="login-field">Password</ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <div class="ion-padding">
        <!--<ion-button expand="block" type="submit" class="ion-no-margin">LOG IN</ion-button>-->
        <ion-button expand="block" class="login-btn ion-no-margin" [routerLink]="['/', 'landing-page']">LOG IN</ion-button>
        <div class="newUser"><p><a [routerLink]="['/', 'register']">FIRST TIME IG APP USER. REGISTER HERE</a></p></div>
      </div>
      <ion-item>
        <ion-checkbox color="danger" slot="start"></ion-checkbox>
        <ion-label color="danger">ACCEPT <strong>TERMS & CONDITIONS</strong></ion-label>
      </ion-item>
    <!--</form>-->
    </div>
  </div>
</ion-content>
