<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [hidden]="!showEmptyCartMessage">
    <ion-grid>
      <ion-row>
        <ion-col>Your cart is currently empty.</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
   
  <ion-list id="cartList">
    <ion-item *ngFor="let item of cartItems; let i = index">
      <ion-thumbnail (click)="getProdDet(item.product.id)" class="prodThumbImg" [innerHtml]="replaceIMG(item.product.images[0].src)" slot="start"></ion-thumbnail>
      <ion-label>
        <p class="cartTitle" (click)="getProdDet(item.product.id)"><strong>{{ item.product.name }}</strong></p>
        <p class="cartPrice">{{ item.product.price | currency : "R" }}</p>
        <p class="cartQty">Quantity: {{ item.qty }}</p>
        <ion-grid>
          <ion-row>
            <ion-col size="3">Qty: </ion-col>
            <ion-col size="7" class="inputQty">
              <ion-grid class="qtyGroup">
                <ion-row>
                  <ion-col size="3">
                    <ion-button size="small" (click)="minQty(item, i)">-</ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input id="qtyVal" type="number" value="{{ item.qty }}" min="1" readonly></ion-input>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button size="small" (click)="plusQty(item, i)">+</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="removeFromCart(item, i)" slot="end">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="medium" [routerLink]="['/', 'tabs', 'shop']">Continue Shopping</ion-button>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2>

      </ion-col>
      <ion-col col-4>
        <b>BR TOTAL</b>
      </ion-col>
      <ion-col col-3 style="text-align: right;">
        <b>- {{ cartBr | number:'1.2-2'}}</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>

      </ion-col>
      <ion-col col-4>
        <b>TOTAL</b>
      </ion-col>
      <ion-col col-3 style="text-align: right;">
        <b>{{ total | currency : "R"  }}</b>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" color="dark" (click)="openWithInAppBrowser()">CHECKOUT</ion-button>
  <!--<ion-button >Open with In App browser</ion-button>-->
</ion-footer>