.cartTitle {
    font-size: 17px;
    color: #292c2f;
}

.cartPrice {
    font-size: 18px;
    color: #292c2f;
}

.qtyGroup {
    --ion-grid-padding: 0px;
    --ion-grid-column-padding: 0px;
}
ion-input#qtyVal {
    --padding-top: 0px;
    --padding-end: 8px;
    --padding-bottom: 0px;
    --padding-start: 5px;
    --background: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 36px;
    height: 36px;
}
.qtyGroup ion-button {
    width: 100%;
    height: 36px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    --background: #292c2f;
    --background-activated: rgba(0, 0, 0, 0.3);
    --background-focused: rgba(0, 0, 0, 0.3);
    --background-hover: rgba(0, 0, 0, 0.3);
    --border-radius: 0px;
}