<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Addresses</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-card>    
        <ion-card-content>
          <form [formGroup]="update_form" (ngSubmit)="updatedetails(update_form.value)">
            <ion-item>
              <ion-label position="stacked" class="login-field">First Name</ion-label>
              <ion-input required type="text" formControlName="first_name" value="{{first_name}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Last Name</ion-label>
              <ion-input required type="text" formControlName="last_name" value="{{last_name}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Address Line 1</ion-label>
              <ion-input required type="text" formControlName="address_1" value="{{address_1}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Address Line 2</ion-label>
              <ion-input required type="text" formControlName="address_2" value="{{address_2}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Town / City</ion-label>
              <ion-input required type="text" formControlName="city" value="{{city}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Province</ion-label>
              <ion-input required type="text" formControlName="state" value="{{state}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="login-field">Postcode / ZIP</ion-label>
              <ion-input required type="text" formControlName="postcode" value="{{postcode}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked" class="login-field">Company</ion-label>
                <ion-input required type="text" formControlName="company" value="{{company}}"></ion-input>
              </ion-item>
            <br>
            <ion-button expand="full" color="dark" type="submit" class="login-btn ion-no-margin">Update</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
        
  </ion-content>
  