ion-title {
    text-align: center;
}
.title-large {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.title-large::before {
    display: none !important;
}
ion-toolbar.main-toolbar {
    --color: #ffffff;
    --background: #000000;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --min-height: 55px;
}
.toolbar-btn {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 20%;
    z-index: 1;
    margin: 0px;
}
.buttons-first-slot {
    width: 20%;
    margin: 0px;
}
ion-menu-button {
    --background: #292c2f;
    --border-radius: 0px;
    --color: #fff;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    height: 55px;
    display: block;
    width: 100%;
    z-index: 1;
    margin: 0px;
}
ion-toolbar.secondary-toolbar {
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}
.secondary-toolbar ion-grid {
    --ion-grid-padding: 0px;
}
ion-searchbar {
    --background: #ffffff;
    --color: #292929;
    padding: 5px;
    height: 44px;
}

.prodImgWrap {
    position: relative;
}
.prodStock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 25px;
    background-color: #616161;
    color: #ffffff;
    line-height: 25px;
}