<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4>Isabella Garcia International</h4>
    <p>29 Westbrooke Drive,<br>Strathavon, Sandton,<br>Gauteng, 2196</p>
    <p><ion-icon name="call"></ion-icon> <a href="tel:+27101407141">010 140 7141</a></p>
    <p><ion-icon name="mail"></ion-icon> <a href="mailto:vipbeautyclub@isabella-garcia.com?subject=Contact%20from%20website">vipbeautyclub@isabella-garcia.com</a></p>
    <p><ion-icon name="logo-whatsapp"></ion-icon> <a href="whatsapp://send?phone=+27673662565">067 366 2565</a></p>
    <h4>Business Hours:</h4>
    <p>Monday – Fridays: 7:00 AM – 16:30 PM</p>
  </div>
</ion-content>
