<ion-header>
	<!--<ion-toolbar>
		<ion-title>
		Ionic Blank
		</ion-title>
	</ion-toolbar>-->
</ion-header>

<ion-content>
	<div class="content-wrap">
		<div class="half-top">
			<img src="/assets/white-logo.png"/>
		</div>
		<div class="half-bot">
			<img src="/assets/vip-beauty-club-logo.png"/>
		</div>
	</div>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom" class="login-tabs tabs-section">
    <ion-tab-button class="login" [routerLink]="['/', 'login']" >
      <ion-label>LOG IN</ion-label>
    </ion-tab-button>

    <ion-tab-button class="register" (click)="openWithInAppBrowser()" >
      <ion-label>REGISTER</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>